<div class="modal" tabindex="-1" role="dialog" id="banklogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bankname"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('banklogin').style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/users/dashboard/sync_bank" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="User id" required name="idUser">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Pin password" required name="pin_password">
            </div>
            <input name="bank" type='hidden' id= "hiddenbank" name='id' value='' />
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('banklogin').style.display='none'">Close</button>
          </form>
      </div>
      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</div>