<form id="confirmDelete" method="post" action="/users/dashboard/accounts/savings/delete">
    <input type="hidden" id="accountNumber" name="anumber" value="">
    <input type="hidden" id="bank" name="bank" value="">
</form>