<!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li> <a href="#"><i class="fa fa-home"></i><span>Home</span></a> </li>
                        <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bank"></i><span class="hide-menu">Accounts</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/users/dashboard/accounts/credit">Credit</a></li>
                                <li><a href="/users/dashboard/accounts/savings">Savings</a></li>
                                <li><a href="/users/dashboard/accounts/current">Current</a></li>
                            </ul>
                        </li>
                        <li> <a href="#" class="disabled"><i class="fa fa-bitcoin"></i><span>Criptocurrency</span></a> </li>
                        <li> <a href="#" class="disabled"><i class="fa fa-money"></i><span>Investments</span></a> </li>
                        <li> <a href="#" class="disabled"><i class="fa fa-book"></i><span>Balance</span></a> </li>
                        <li> <a href="#" class="disabled"><i class="fa fa-line-chart"></i><span>Analitics</span></a> </li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->