<!DOCTYPE html>
<html lang="en" style="background-color:#199EB8">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <title>EasyFinance</title>
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <link href="/css/helper.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">

<!--Nav bar-->
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
      <!-- Bootstrap CSS File -->
         <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Libraries CSS Files -->
         <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- Main Stylesheet File -->
          <link href="/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <a href="/"><img src="/img/logo-nav.png" alt="" title="" /></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu pull-right d-none d-lg-inline">
                <li><a href="/users/login">Log In</a></li>
            </ul>
            <ul class="nav-menu pull-right d-none d-lg-inline">
              <li><a href="/users/signup">Sign Up</a></li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
    
    
        </div>
      </header>

<body class="fix-header fix-sidebar" style="background-color:#199EB8">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

         <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card" style="border-radius: 4%">
                            <div class="login-form">
                                <h4>Forgot Password</h4>
                                <% if (message) { %>
                                  <div class="alert alert-success"><%= message %></div>
                                <% } %>
                                <form name="formtovalidate" onsubmit="return validateForm()" action="/users/password_recovery" method="POST">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input name="email" onkeyup="validate()" type="email" class="form-control" id="email" placeholder="Email" required>
                                        <div id = "emailval"></div>
                                    </div>                     
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" id="submitButton">Recover</button>                                    
                                </form>
                                <div class="register-link m-t-15 text-center">
                                        <p>Don't have account ? <a href="/users/signup"> Sign Up Here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Wrapper -->

    <% include ./../partials/base/jsstart %>

</body>
</html>