<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <% include ./../../partials/dashboard/dash_sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Balance</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Balance</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card-body">
                    <div class="login-form">
                        <h2 class="control-label">Create a Budget</h4>
                        <form>
                            <div class="form-group">
                                 <label class="control-label">Name Budget</label>
                                 <input name="name" type="text" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                 <select id="soflow">
                                    <option>Select a Currency</option>
                                    <option>lista de monedas</option>
                                    <!--document.getElementById("soflow").value retorna la opcion seleccionada  posicion 0 es "select a currency"-->
                                </select>
                            </div>
                            <div class="form-group">
                                 <label class="control-label">Amount of Money</label>
                                 <input name="money" type="number" min="0" step="any" class="form-control" placeholder="amount" required>
                            </div>
                            <div class="form-group">
                                 <label class="control-label">Link the Accounts</label>
                                 <!--modal?-->
                                 <% include ./../../partials/dashboard/listaccounts.ejs %>
                                 <!-- Formulario checkbox con las cuentas del usuario -->

                            </div>

            </div>        
            <!-- End Container fluid  -->
            <% include ./../../partials/dashboard/changecoin %>
            <!-- footer -->
            <% include ./../../partials/dashboard/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <% include ./../../partials/dashboard/libjs %>

</body>

</html>