<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <% include ./../../partials/dashboard/dash_sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Home</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-4">
                        <a href="#">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2><%=balancev%></h2>
                                    <p class="m-b-0">Balance</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/users/dashboard/add_account">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-plus f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>Bank Sync</h2>
                                    <p class="m-b-0">Bank Accounts</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/users/dashboard/create_budget">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-plus f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>Create a Budget</h2>
                                    <p class="m-b-0">Budget Accounts</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/users/dashboard/accounts/groups">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-plus f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>Group Accounts</h2>
                                    <p class="m-b-0">New Group</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" onclick="document.getElementById('totransactions').style.display='block'">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-exchange f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>Transfer</h2>
                                    <p class="m-b-0">Transactions</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/users/logout" onclick="return confirm('Are you sure?')">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-power-off f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>Logout</h2>
                                    <p class="m-b-0">Exit</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Accounts balance</h4>
                            </div>
                            <div class="card-content">
                                    <svg id="chart" class="chart-container"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            <!-- End Container fluid  -->
            <% include ./../../partials/dashboard/changecoin %>
            <% include ./../../partials/dashboard/transactions %>
            <!-- footer -->
            
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
        <% include ./../../partials/dashboard/footer %>
    </div>
    <!-- End Wrapper -->
    <% include ./../../partials/dashboard/libjs %>
    <script>
    // Seed data to populate the donut pie chart
    var seedData = [
    
      <% for(let i = 0; i < balances.length; i++) { %>
      {
          label:"<%=balancename[i]%>", 
          value:<%= balances[i]%>, 
          link: "/users/dashboard/"
      },
      <% } %>
    
    ];

    // Define size & radius of donut pie chart
    var width = 450,
      height = 450,
      radius = Math.min(width, height) / 2;

    // Define arc colours
    var colour = d3.scaleOrdinal(d3.schemeCategory10);

    // Define arc ranges
    var arcText = d3.scaleOrdinal().range([0, width]);

    // Determine size of arcs
    var arc = d3
      .arc()
      .innerRadius(radius - 130)
      .outerRadius(radius - 10);

    // Create the donut pie chart layout
    var pie = d3
      .pie()
      .value(function(d) {
        return d["value"];
      })
      .sort(null);

    // Append SVG attributes and append g to the SVG
    var svg = d3
      .select("#chart")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(" + radius + "," + radius + ")");

    // Define inner circle
    svg
      .append("circle")
      .attr("cx", 0)
      .attr("cy", 0)
      .attr("r", 100)
      .attr("fill", "#fff");

    // Calculate SVG paths and fill in the colours
    var g = svg
      .selectAll(".arc")
      .data(pie(seedData))
      .enter()
      .append("g")
      .attr("class", "arc")

      // Make each arc clickable
      .on("click", function(d, i) {
        window.location = seedData[i].link;
      });

    // Append the path to each g
    g
      .append("path")
      .attr("d", arc)
      .attr("fill", function(d, i) {
        return colour(i);
      });

    // Append text labels to each arc
    g
      .append("text")
      .attr("transform", function(d) {
        return "translate(" + arc.centroid(d) + ")";
      })
      .attr("dy", ".35em")
      .style("text-anchor", "middle")
      .attr("fill", "#fff")
      .text(function(d, i) {
        return seedData[i].label;
      });

    g.selectAll(".arc text").call(wrap, arcText.range([0, width]));

    // Append text to the inner circle
    svg
      .append("text")
      .attr("dy", "-0.5em")
      .style("text-anchor", "middle")
      .attr("class", "inner-circle")
      .attr("fill", "#36454f")
      .text(function(d) {
        return "Balances";
      });

    svg
      .append("text")
      .attr("dy", "1.0em")
      .style("text-anchor", "middle")
      .attr("class", "inner-circle")
      .attr("fill", "#36454f")
      .text(function(d) {
        return "chart";
      });

    // Wrap function to handle labels with longer text
    function wrap(text, width) {
      text.each(function() {
        var text = d3.select(this),
          words = text
            .text()
            .split(/\s+/)
            .reverse(),
          word,
          line = [],
          lineNumber = 0,
          lineHeight = 1.1, // ems
          y = text.attr("y"),
          dy = parseFloat(text.attr("dy")),
          tspan = text
            .text(null)
            .append("tspan")
            .attr("x", 0)
            .attr("y", y)
            .attr("dy", dy + "em");
        console.log("tspan: " + tspan);
        while ((word = words.pop())) {
          line.push(word);
          tspan.text(line.join(" "));
          if (tspan.node().getComputedTextLength() > 90) {
            line.pop();
            tspan.text(line.join(" "));
            line = [word];
            tspan = text
              .append("tspan")
              .attr("x", 0)
              .attr("y", y)
              .attr("dy", ++lineNumber * lineHeight + dy + "em")
              .text(word);
          }
        }
      });
    }

</script> 
    

</body>

</html>