<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->

        <!-- Left Sidebar  -->
        <% include ./../../partials/dashboard/dash_sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Transactions</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Transactions</li>
                    </ol>
                </div>
            </div>
            
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card-body">
                    <button type="button" class="btn btn-primary"  onclick="document.getElementById('register_account').style.display='block'">Register an Account</button></a>
                    <div class="login-form">
                    <h2 class="control-label">Transactions to Registered Accounts</h4>
                    <form action="" method="POST">
                        <div class="form-group">
                            <select id="soflow">
                                <option>FROM:</option>
                                <option>lista de cuentas de ahorros y corriente</option>
                                <!--document.elementById("soflow").value retorna la opcion seleccionada  posicion 0 es "select a currency"-->
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Input the Amount to Transfer</label>
                            <input name="money" type="number" min="0" step="any" class="form-control" placeholder="Amount" required>
                        </div>
                        <div class="form-group">
                            <select id="soflow">
                                <option>TO:</option>
                                <option>lista de cuentas registradas</option>
                                <!--document.elementById("soflow").value retorna la opcion seleccionada  posicion 0 es "select a currency"-->
                            </select>
                        </div>
                        <div class="form-group">
                        <label>Comments</label>
                            <input name="comments" type="text" class="form-control" placeholder="Comments" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Transfer</button>
                    </form>
                    <a href="/users/dashboard"> <button type="button" class="btn btn-secondary">Close</button></a>
                </div>
                </div>
            </div>
            <% include ./../../partials/dashboard/register_account %>
            <!-- End Container fluid  -->
            <!-- footer -->
            <!-- End footer -->
        </div>
        <% include ./../../partials/dashboard/footer %>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <% include ./../../partials/dashboard/libjs %>

</body>

</html>