<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <% include ./../../partials/dashboard/dash_sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Select Accounts</h3> </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card-body">
                    <div class="login-form">
                        <h2 class="control-label">Select to Sync your Accounts</h4>
                        <form>
                            <label class="control-label">Credit Accounts</label>
                            <div class="form-group">
                                    <input name="name" type="checkbox" class="form-control" placeholder="account" required>
                            </div>
                            <label class="control-label">Savings Accounts</label>
                            <div class="form-group">
                                    <input name="name" type="checkbox" class="form-control" placeholder="account" required>
                            </div>
                            <label class="control-label">Currrent Accounts</label>
                            <div class="form-group">
                                    <input name="name" type="checkbox" class="form-control" placeholder="account" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Sync</button>
                            <a href="/users/dashboard/add_account"><button class="btn btn-secondary">Cancel</button></a>
                        </form>
                    </div>
                    <!--formulario con checkbox de las cuentas entregadas por la api-->
                </div>
            </div>        
            <!-- End Container fluid  -->
            <% include ./../../partials/dashboard/changecoin %>
            <!-- footer -->

            <!-- End footer -->
        </div>
        <% include ./../../partials/dashboard/footer %>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <% include ./../../partials/dashboard/libjs %>

</body>

</html>